{% extends "base.html" %}

{% block content %}
<main class="text-center">
    <div class="row">
        <div class="col-12">
            <h1>Vitajte na stránke Tomáša Adamečka</h1>
            <h2>Kto som a čím sa zaoberám</h2>
            <ul>
                <li>umelecký rezbár so zameraním na sakrálnu tvorbu, do kostolov, kaplniek</li>
                <li>výrobou oltárov, obetných stolov, bohostánkov, kľačadiel, podstavcov a konzol pod sochy,
                    ambonov a ďalších sakrálnych predmetov; všetko na mieru podľa návrhu zákazníka alebo
                    vlastného návrhu</li>
                <li>zhotovením kópií historických alebo pôvodných sakrálnych predmetov</li>
                <li>orientáciou na realizáciu jedinečných výrobkov, kde umelecko-remeselné spracovanie zahŕňa
                    ručnú prácu, ktorá tvorí z výrobku originál; nejde o výrobu veľkého počtu kusov, ale o čo
                    najvyššiu kvalitu produktu k spokojnosti zákazníka</li>
            </ul>
            <div class="container my-4">
                <img src="{{ url_for ('static', path='img/assets/tomas-adamecko.jpg') }}" alt="">
            </div>
        </div>
    </div>



</main>

<script>
    async function fetchProjekty() {
        try {
            const response = await fetch('/portfolio_short');
            this.projekty = await response.text();
            console.log(this.projekty);
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>

{% endblock %}