{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h1>Vitajte na stránke rezbára Tomáša Adamečka</h1>
    <h2>Kto som a čím sa zaoberám</h2>
    <p>Som rezbár, zaoberám sa spracovaním dreva a výrobou nábytku na mieru.</p>

    <p>Prezrite si moje diela a neváhajte ma kontaktovať ohľadom rezbárčiny na mieru.
    </p>
    <div class="container mt-4" id="target" hx-get="/galeria" hx-target="this">
        <img src="/static/img/preklik_na_foto.png" alt="Prekliknutie sa na fotky">
    </div>
    <div class="gallery">
    </div>
</div>
{% endblock %}