{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h1>Vitajte na stránke rezbára Tomáša Adamčíka</h1>
    <p>Prezrite si moje diela a neváhajte ma kontaktovať ohľadom rezbárčiny na mieru.</p>
    <div class="gallery">
        <img src="{{ url_for('static', path='img/01.jpg') }}" alt="Tomášovce - šachová liga fotka č. 1">
        <img src="{{ url_for('static', path='img/02.jpg') }}" alt="Tomášovce - šachová liga fotka č. 2">
        <img src="{{ url_for('static', path='img/03.jpg') }}" alt="Tomášovce - šachová liga fotka č. 3">
        <img src="{{ url_for('static', path='img/04.jpg') }}" alt="Tomášovce - šachová liga fotka č. 4">
        <img src="{{ url_for('static', path='img/05.jpg') }}" alt="Tomášovce - šachová liga fotka č. 5">
        <img src="{{ url_for('static', path='img/06.jpg') }}" alt="Tomášovce - šachová liga fotka č. 6">
        <img src="{{ url_for('static', path='img/07.jpg') }}" alt="Tomášovce - šachová liga fotka č. 7">
        <img src="{{ url_for('static', path='img/08.jpg') }}" alt="Tomášovce - šachová liga fotka č. 8">
        <img src="{{ url_for('static', path='img/09.jpg') }}" alt="Tomášovce - šachová liga fotka č. 9">
        <img src="{{ url_for('static', path='img/10.jpg') }}" alt="Tomášovce - šachová liga fotka č. 10">
        <img src="{{ url_for('static', path='img/11.jpg') }}" alt="Tomášovce - šachová liga fotka č. 11">
        <img src="{{ url_for('static', path='img/12.jpg') }}" alt="Tomášovce - šachová liga fotka č. 12">
        <img src="{{ url_for('static', path='img/13.jpg') }}" alt="Tomášovce - šachová liga fotka č. 13">
        <img src="{{ url_for('static', path='img/14.jpg') }}" alt="Tomášovce - šachová liga fotka č. 14">
        <img src="{{ url_for('static', path='img/15.jpg') }}" alt="Tomášovce - šachová liga fotka č. 15">
        <img src="{{ url_for('static', path='img/16.jpg') }}" alt="Tomášovce - šachová liga fotka č. 16">
        <img src="{{ url_for('static', path='img/17.jpg') }}" alt="Tomášovce - šachová liga fotka č. 17">
        <img src="{{ url_for('static', path='img/18.jpg') }}" alt="Tomášovce - šachová liga fotka č. 18">
        <img src="{{ url_for('static', path='img/19.jpg') }}" alt="Tomášovce - šachová liga fotka č. 19">
        <img src="{{ url_for('static', path='img/20.jpg') }}" alt="Tomášovce - šachová liga fotka č. 20">
        <img src="{{ url_for('static', path='img/21.jpg') }}" alt="Tomášovce - šachová liga fotka č. 21">
        <img src="{{ url_for('static', path='img/22.jpg') }}" alt="Tomášovce - šachová liga fotka č. 22">
        <img src="{{ url_for('static', path='img/23.jpg') }}" alt="Tomášovce - šachová liga fotka č. 23">
        <img src="{{ url_for('static', path='img/24.jpg') }}" alt="Tomášovce - šachová liga fotka č. 24">
        <img src="{{ url_for('static', path='img/25.jpg') }}" alt="Tomášovce - šachová liga fotka č. 25">
        <img src="{{ url_for('static', path='img/26.jpg') }}" alt="Tomášovce - šachová liga fotka č. 26">
        <img src="{{ url_for('static', path='img/27.jpg') }}" alt="Tomášovce - šachová liga fotka č. 27">
        <img src="{{ url_for('static', path='img/28.jpg') }}" alt="Tomášovce - šachová liga fotka č. 28">
        <img src="{{ url_for('static', path='img/29.jpg') }}" alt="Tomášovce - šachová liga fotka č. 29">
        <img src="{{ url_for('static', path='img/30.jpg') }}" alt="Tomášovce - šachová liga fotka č. 30">
        <img src="{{ url_for('static', path='img/31.jpg') }}" alt="Tomášovce - šachová liga fotka č. 31">
        <img src="{{ url_for('static', path='img/32.jpg') }}" alt="Tomášovce - šachová liga fotka č. 32">
      </div>
</div>
{% endblock %}
